/* Apply styles to the root node of your Scene */
.root {
    /* Set background color */
    -fx-background-color: #000000;
    /* Set default font family and size */
    -fx-font-family: "Arial";
    -fx-font-size: 12px;
}

/* Apply styles to specific elements by their ID or class */
#header {
    /* Style for header */
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.Button {
    /* Style for buttons */
    -fx-background-color: #d91616;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8px 16px;
    -fx-border-radius: 5px;
}

.Button:hover {
    /* Style for button on hover */
    -fx-background-color: #45a049;
    -fx-fill: #d00000;
}

/* Apply specific styles to specific elements */
.text-field {
    /* Style for text fields */
    -fx-background-color: #fff;
    -fx-padding: 1px;
    -fx-border-color: #ccc;
    -fx-border-radius: 3px;
    -fx-border-width: 1px;
}

/* Apply styles to labels */
.label {
    /* Style for labels */
    -fx-font-weight: bold;
    -fx-text-fill: #333;
}